.player-name-display {
    display: flex;
    justify-content: space-around;
}

.board-display {
    display: flex;
    justify-content: space-around;
}

.player1-board, .player2-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 30vw;
    height: 30vw;
}

.player1-board > div, .player2-board > div {
    background-color: white;
    border: 1px solid black;
}

.player1-board > .ship-here {
    background-color: aqua;
}

.player1-board > .hit, .player2-board > .hit {
    color: red;
    background-color: lightcoral;
}

.hit.ship-here {
    border-color: red;
}